@import url('./font_style.css');
html{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.square{
    width: 1920px;
    height: 1125px;
    top: -106px;
    gap: 0px;
    opacity: 0px;
    background-image: url(./img/BG.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    
}
.bg-body-tertiary{
    background-color: #ffffff00 !important;
}
#kv{
    transform: translateY(-160px);
}
body{
    align-items: center;
    justify-content: center;
    width: 1920px;
    display: flex;
    flex-direction: column;
}

    

.big-con{
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
}
.container-fluid{
    transform: translateY(-50px);
    width:900px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #F87932;
    font-family: "Lato";
    font-weight: 600;
    letter-spacing: 2pt;
    font-size: 13pt;
    
}
a.nav-link{
    background-color: #ffff;
    height: 62px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: center;
    margin:0 15px ;
}
a#nav-1{
    width: 135px;
}
a#nav-2{
    width: 153px;
}
a#nav-3{
    width: 100px;
}
a#nav-4{
    width: 135px;
}
.navbar-brand{
    margin: 0;
}
a#nav-brand{
    width: 100px;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: #ffffff;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
    height: 150px;
}
.navbar-brand img{
    transform: translateY(-18px);
}
.min-con{
    justify-content: center;
    display: flex;
    flex-direction: column;
    transform: translateY(-150px);

}
.min-con h2{
    font-size: 80px;
    width: 600px;
    font-family:"Marie";
    font-weight: 600;
    text-shadow: #151c21b0 3px 3px;
    letter-spacing: 5px;
}
.min-con a{
    margin-top: 20px;
    text-transform: uppercase;
    position: relative;
    color: #ffffff;
    width: 210px;
    height: 60px;
    background: #39BFA7;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lato";
    font-weight: 500;
    z-index: 1;}

    .min-con a::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #F87932;
    z-index: -1;
    transform-origin: top;
    transition: transform 0.5s ease;
    transform: scaleX(1);
}


.min-con a:hover::before{
    transform-origin: top;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}
.fotos{
    margin-left: 40px;
    width: 990px;
    transform: translateY(-20px);
}
div.fotos img#foto2 {
    transform: translateY(-143px) translateX(-116px);
overflow: hidden;}

div.fotos img#foto3 {
    transform: translateX(-230px);
}
div.fotos img#foto4 {
    transform: translateX(-48px) translateY(-125px);
}
div.fotos img#foto5 {
    transform: translateX(16px) translateY(-150px);
}
div.fotos img#foto6 {
    transform: translateX(-48px) translateY(-253px);
}
h2#\31txt{
    color: #39BFA7;
    
}
h2#\32txt{
    color: #F87932;
}
.beach{
    background-image: url(./img/Mask\ group.png);
}
footer{
    background-color: #151C21;
}

/*relax*/

.relax{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 100px 0 50px;

}
.relax .col-md-8 img{
    height: 500px;
    padding-left: 50px;
}
.relax .col-md-8{
    display: flex;
    flex-direction: row;
}
.relax h6{
    font-family: "Lato";
    text-transform: uppercase;
    font-size: 20px;
}
.col-md-4{
    width: 100%;
}
.relax h5{
    font-family: "Marrie";
    font-size: 50px;
    width: 350px;
}
.relax p{
    font-family: "Lato";
    font-size: 18px;
    width: 420px;
    margin: 15px 0px 100px 0 ;
    
}
.relax .card-body{
    width: 1200px;
    display: flex;
    flex-direction: column;
    
}
.relax .card .md-3{
    height: 500px;
   
}
.relax .card{
    border: 0cap;
}
.relax button{
    width: 200px;
    height: 50px;
    background: #ffffff;
    border: #000000 2px solid;
    text-transform: uppercase;
    font-weight: 500px;
    margin: 20px 0 0 0;
    
}
.relax a{
    text-transform: uppercase;
    position: relative;
    color: #000000;
    width: 210px;
    height: 60px;
    background: #F87932;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000000;
    font-family: "Lato";
    font-weight: 500;
    z-index: 1;}


    .relax a::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: -1;
    transform-origin: left;
    transition: transform 0.5s ease;
    transform: scaleX(1);
}
.relax a:hover::before{
    transform-origin: left;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}
img#img2{
    width: 600px;
    height: 520px;
    transform: translateY(-625px) translateX(-320px);
    gap: 0px;
    opacity: 0px;
    position: relative;
    
}
 div.row.g-0{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 580px;

}
.col-md-8{
    width: 100%;
}
.beach{
    width: 1920px;
    height: 1006px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.beach h2{
    font-size: 60px;
    font-family: "Marrie";
    width: 800px;
    text-align: center;
    color: #ffffff;
}
.beach h4{
    color: #ffffff;
    text-align: center;
    font-family: "Lato";
    font-weight: 700px;
    font-size: 20px;
    letter-spacing: 3px;
    padding-top: 10px;
}
.beach .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(150px);
    
}
.beach .container img{
    margin: 50px;
}
.beach .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translateY(273px);
    
}
.beach .card{
    width: 200px !important;
    height: 200px;
    transform: rotate(45deg);
    margin: 0 60px 0 60px;
    border: #39BFA7 15px solid;
    font-family: "Lato";
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center
}
.beach .card-body {
    transform: rotate(-45deg);
    text-align: center;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.beach .card-subtitle{
    transform: rotate(-45deg);
    background-color:#39BFA7;
    color: #ffffff !important;
    border: #3f101099 6px solid;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}

.beach p {
    transform: rotate(45deg) translateX(6px) translateY(3px);}

.Blog .text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Blog{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 988px;
    flex-direction: column;
    margin: 200px 0;
}
.Blog h3{
    font-size: 48px;
    font-family: "Monserrat";
    font-weight: 700;
}
.Blog h4{
    font-size: 25px;letter-spacing: 2px;
    padding: 20px 0;
}
.Blog h6{
    font-size: 16px;
    font-family: "Lato";
    font-weight: 400;
    padding: 20px 0;
    letter-spacing: 3px;
}
.albom{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    height: 720px;
    width: 1300px;
    justify-content: space-between;
}
.albom img{
    margin: 10px;
}
img#plane{
    height: 584px;
}
.Blog a{
    text-transform: uppercase;
    position: relative;
    color: #000000;
    width: 210px;
    height: 60px;
    background: #F87932;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000000;
    font-family: "Lato";
    font-weight: 500;
    z-index: 1;
}
.Blog a::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: -1;
    transform-origin: left;
    transition: transform 0.5s ease;
    transform: scaleX(1);
}
.Blog a:hover::before{
    transform-origin: left;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}
.container-roadmap{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/2_полоски.jpg);
    background-color: #00000093;
    width: 100%;
    height: 1920px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}
.container-roadmap:before {
    
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, 0.465);}

.container-roadmap .card{
    height: 100px;
    background: none;
}
.container-roadmap .zagol h2{
    font-family: "Marrie";
    color: white;
    font-size: 60px;
}
.container-roadmap .zagol p{
    font-size: 16px;
    font-family: "Lato";
    font-weight: 400;
    padding: 20px 0;
    letter-spacing: 3px;
    color: white;
    text-align: center;
}
.container-roadmap .zagol{
    width: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}
.container-roadmap .ram{
    width: 1398px;
height: 1650px;
top: 120px;
left: 280px;
gap: 0px;
border: 5px #ffffff solid;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: absolute;

}
.container-roadmap .ram .left h3 {
    font-family: "Ave";
    transform: translateY(-20px);
    font-size: 70px;
    color: #39BFA7;
    width: 350px;
}
.container-roadmap .telo{
    display: flex;
    flex-direction: row;
}
.container-roadmap .ram .right{
    transform: translateY(-50px);
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.right .col-md-4{
    width: 100px !important;
}
.right .card-body{
    width: 500px;
}
.right .col-md-8{
    width: 300px !important;
}
.right .card{
    align-items: baseline;
    justify-content: baseline;
    display: flex;
    border: none;
}
.right .row{

    width: 570px !important;
}
.right .card-title{
    font-family: "Ave";
    color: #969696;
    font-size: 25px;
}
.right .card-text{
    font-family: "Marrie";
    font-size: 40px;
    color: #DDDDDD;
}
.ram a{
    text-transform: uppercase;
    position: relative;
    color: #ffffff;
    width: 210px;
    height: 60px;
    background: #39BFA7;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lato";
    font-weight: 500;
    font-size: 20px;
    z-index: 1;
    
}

.ram a::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #F87932;
    z-index: -1;
    transform-origin: top;
    transition: transform 1s ease;
    transform: scaleX(1);
}
.ram a:hover::before{
    transform-origin: top;
    transition: transform 0.2s ease;
    transform: scaleX(0);}

.journey{
    
}

.journey h2{
    margin-top: 100px;
    font-family: "Marrie";
    }
    .journey h4{
        font-family: "Lato";
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 2px;

    }
.journey .zag{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.journey img{
    margin: 20px 0;
}
.journey .form{
    width: 800px;
    margin: 100px 0;
    font-family: "Lato";
    font-weight: 700px;
}

.journey .form input#validationServer01{
    height: 60px;
    border-radius: 0%;
    border: #39BFA7 4px solid;
}
.journey .form input#validationServer02{
    height: 60px;
    border-radius: 0%;
    border: #39BFA7 4px solid;
}
.journey .form input#validationServer03{
    height: 60px;
    border-radius: 0%;
    border: #39BFA7 4px solid;
}
.journey .form input#validationServer04{
    height: 60px;
    border-radius: 0%;
    border: #39BFA7 4px solid;
}
.journey .form input#validationServer05{
    height: 60px;
    border-radius: 0%;
    border: #39BFA7 4px solid;
}
.journey .form select#validationServer04{
    height: 60px;
    border-radius: 0%;
    border: #39BFA7 4px solid;
}
.journey .form span#inputGroupPrepend3{
    height: 60px;
    border-radius: 0%;
    border: #F87932 4px solid;
    background-color: #F87932;
    color: #ffffff;
}
.journey .form input#validationServerUsername{
    height: 60px;
    border-radius: 0%;
    border: #39BFA7 4px solid;
}
input#Check3:checked{
    background: #F87932;
    border-color: #f5c2a4;
    color: rgb(255, 255, 255);
    z-index: -1;
    background-image: var(--bs-form-check-bg-image);
}
.form-check-input:checked{
    border-color: #f5c2a4 !important;
}
.form-check-input:focus {
    border-color: #f5c2a4;
    box-shadow: none !important;
}
button.btn.btn-primary{
    text-transform: uppercase;
    position: relative;
    color: #ffffff;
    width: 210px;
    height: 60px;
    background: #39BFA7;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lato";
    font-weight: 500;
    font-size: 15px;
    z-index: 1;
    border: none;
    border-radius: 0cap;
} 
    

button.btn.btn-primary::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #F87932;
    z-index: -1;
    transform-origin: top;
    transition: transform 1s ease;
    transform: scaleX(1);
}
button.btn.btn-primary:hover::before{
    transform-origin: top;
    transition: transform 0.2s ease;
    transform: scaleX(0);}

footer{
    background: #151C21;
    width: 300%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer div.mid{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer div.mid div.up{
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 100%;
    padding: 100px 0;
    border-bottom: #414141 2px solid;
}
footer div.mid div.up .call{
    width: 200px;
    font-family: "Lato";
}
footer div.mid div.down{
    padding: 100px 0;
    color: #BBBBBB;
    font-family: "Lato";
    text-align: center;
    
}
footer div.mid div.down h6{
    letter-spacing: 2px;
    font-weight: 400;
    margin: 20px;
}