@import url('./font_style.css');
.square{
    width: 1920px;
    height: 1107px;
    top: -106px;
    gap: 0px;
    opacity: 0px;
    background-image: url(./img/BG.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.bg-body-tertiary{
    background-color: #ffffff00 !important;
}
#kv{
    transform: translateY(-160px);
}
body{
    align-items: center;
    justify-content: center;
}

    

.big-con{
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
}
.container-fluid{
    transform: translateY(-38px);
    width:900px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #F87932;
    font-family: "Lato";
    font-weight: 600;
    letter-spacing: 2pt;
    font-size: 13pt;
    
}
a.nav-link{
    background-color: #ffff;
    height: 62px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: center;
    margin:0 15px ;
}
a#nav-1{
    width: 135px;
}
a#nav-2{
    width: 153px;
}
a#nav-3{
    width: 100px;
}
a#nav-4{
    width: 135px;
}
.navbar-brand{
    margin: 0;
}
a#nav-brand{
    width: 100px;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: #ffffff;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
    height: 150px;
}
.navbar-brand img{
    transform: translateY(-18px);
}
.min-con{
    justify-content: center;
    display: flex;
    flex-direction: column;
    transform: translateY(-150px);

}
.min-con h2{
    font-size: 80px;
    font-family:"Marie";
    font-weight: 600;
    text-shadow: #151c21b0 3px 3px;
    letter-spacing: 5px;
}
.min-con a{
    margin-top: 100px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
    text-decoration: none;
    color: #ffffff;
    background: #F87932;
    border: none;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.min-con a::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #39BFA7;
    z-index: -1;
    transform-origin: left;
    transition: transform 0.5s ease;
    transform: scaleX(1);
    transition: 0.5s;
}
.min-con a:hover{
    color: #ffffff;
}
.min-con a:hover::before{
    transform-origin: right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}

.carousel{
    width: 200px;
    height: 200px;

    width: 100%;
  height: 100%;
  position: relative;

  /* Восстанавливаем деформированное
  содержимое */
  transform: skew(-18deg, -18deg)
    rotate(-45deg)
    scale(1.05);
}



h2#\31txt{
    color: #39BFA7;
    
}
h2#\32txt{
    color: #F87932;
}
.fotos #1f{
}
.beach{
    background-image: url(./img/Mask\ group.png);
}
footer{
    background-color: #151C21;
}
